.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper-search-list {
        display: flex;
        align-items: center;
    }
}