:root {
    --white: #ffffff;
    --low-white: #d1d1d1;
    --second-white: #BCBCBC;
    --soft-black: #161616;
    --dark-red: #AF2E1C;
    --low-red: #be4c3d;


    /* theme section */
    --primary: var(--soft-black);
    --secondary: var(--dark-red);
    --secondary-effect: var(--low-red);
    --third: var(--white);
    --third-effect: var(--low-white);

    --text-color-primary: var(--white);

    
    /* input section */
    --input-color: var(--second-white);
    --input-bg: rgb(87, 87, 87);

    --input-border-color: #BCBCBC;
    --input-border: 2px solid var(--input-border-color);


    /* button section */
    --btn-primary: var(--secondary);
    --btn-primary-effect: var(--secondary-effect);
    --btn-secondary: var(--third);
    --btn-secondary-effect: var(--third-effect);




    /* border section */
    --border-trendy: 5px
}