:root {
    --white: #ffffff;
    --low-white: #d1d1d1;
    --smooth-white: #F9F9F9;
    --second-white: #BCBCBC;
    --gray: #929292;
    --soft-black: #161616;
    --dark-red: #AF2E1C;
    --orange: #F7941E;
    --green: #1caf34;
    --low-green: #4be68b;
    --darkness-red: #6e2f27;
    --low-red: #be4c3d;
    --gray-smooth: #252525;

    /* theme section */
    --primary: var(--soft-black);
    --primary-alternate: var(--gray-smooth);
    --secondary: var(--dark-red);
    --secondary-effect: var(--low-red);
    --third: var(--white);
    --third-effect: var(--low-white);
    --success: var(--green);
    --waiting: var(--yellow);
    --warning: var(--low-red);
    
    --text-color-primary: var(--white);
    --text-color-warning: var(--low-red);

    /* background section */
    --bg-admin: var(--smooth-white);

    
    /* input section */
    --input-color: var(--white);
    --input-bg: rgb(87, 87, 87);

    --input-border-color: #BCBCBC;
    --input-border: 2px solid var(--input-border-color);


    /* select section */
    --select-color: var(--white);
    --select-bg: rgb(87, 87, 87);


    /* border */
    --border-trendy: 5px;
    --border-circle: 50%;
    --border-profile-color: var(--third);


    /* button section */
    --btn-primary: var(--secondary);
    --btn-primary-effect: var(--secondary-effect);
    --btn-secondary: var(--third);
    --btn-secondary-effect: var(--third-effect);
    --btn-block: var(--darkness-red);


    --subtitle: var(--second-white);
    --subtitle-alternate: var(--gray);

    /* border section */
    --border-trendy: 5px;

    /* padding section */
    --literature-default-padding: 20px 70px;

    /* shadow section */
    --shadow-button-pdf: 0 10px 40px rgba(0, 0, 0, .3);
}