.wrapper-input.default {
    .input-theme {
        padding: 10px 14px;
        height: 50;
        width: 100%;
        color: var(--input-color);
        background-color: var(--input-bg);
        border: none;
        border: var(--input-border);
        border-radius: var(--border-trendy);
    
        &::placeholder {
            color: var(--second-white);
        }
    }
}

.wrapper-input-file {
    .input-theme {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 13px;
        color: var(--input-color);
        background-color: var(--input-bg);
        border-radius: var(--border-trendy);
        border: none;
        border: var(--input-border);
        cursor: pointer;

        input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
} 