:focus {
    outline: none;
}

.no-drop { cursor: no-drop }

.blank-image {
    text-align: center;
}

.blank-image img {
    width: 250px;
    margin-bottom: 20px;
}

.blank-image p {
    font-size: 20px
}

input { font-size: 16px }