:focus {
    outline: none;
}

/* change behavior of react push notification */
.rpn-notification-holder.top-middle {
    left: 20px !important;
    transform: none !important;
}

/* .rpn-notification-card {
    
} */

input { font-size: 16px }