.collection {
    .list-collection {
        li {
            width: 200px;
            overflow: hidden;
        }
        
        .footer {
            display: flex;
            justify-content: space-between;
        }
    }
}