.header {
    padding: 20px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    nav ul {
        display: flex;
        
        li {
            margin-right: 40px;
        }
    }
}