.header {
    padding: var(--literature-default-padding);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    nav ul {
        display: flex;
        
        li {
            margin-right: 40px;
            
            &.active {
                color: var(--secondary)
            }
        }

    }
}