.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--literature-default-padding);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    z-index: 2;
    
    nav ul {
        display: flex;
        
        li {
            margin-right: 40px;
            
            &.active {
                color: var(--secondary)
            }
        }

    }
}